<sly data-sly-template.teaser="${@ teaser}"
     data-sly-use.pretitleTemplate="core/wcm/components/teaser/v2/teaser/pretitle.html"
     data-sly-use.descriptionTemplate="core/wcm/components/teaser/v2/teaser/description.html"
     data-sly-use.actionsTemplate="core/wcm/components/teaser/v2/teaser/actions.html"
     data-sly-use.tagsTemplate="leforemhe/components/site/templates/tags.html">
    <a class="cmp-teaser__link"
       data-sly-attribute="${teaser.link.htmlAttributes}"
       data-cmp-clickable="${teaser.data ? true : false}"
       id=${teaser.id}>
        <div class="cmp-teaser${!wcmmode.disabled && teaser.imageResource ? ' cq-dd-image' : ''}">
            <div class="cmp-teaser__image">
                <img src="${teaser.imageResource.path}" loading="lazy" class="cmp-image__image">
            </div>
            <div class="cmp-teaser__content">
                <div class="cmp-teaser__header">
                    <sly data-sly-call="${pretitleTemplate.pretitle @ teaser=teaser}"></sly>
                    <h2 class="cmp-teaser__title">${teaser.title}</h2>
                    <div class="cmp-teaser__image">
                        <div class="cmp-image">
                            <img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/heart.svg"
                                 loading="lazy" class="cmp-image__image">
                        </div>
                    </div>
                </div>
                <sly data-sly-call="${descriptionTemplate.description @ teaser=teaser}"></sly>
                <sly data-sly-call="${actionsTemplate.actions @ teaser=teaser}"></sly>
            </div>
            <sly data-sly-call="${tagsTemplate.tags @ teaser=teaser}"></sly>
        </div>
    </a>
</sly>
