.arborescence-container {
  ul {
    list-style: none;

    li {
      &::before {
        all: unset;
      }
    }
  }

  h3.cmp-accordion__header {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      span.cmp-accordion__title {
        text-decoration: none;
        font-size: 1.8rem;
      }

      &::after {
        display: none;
      }
    }
  }

  div.level2 .cmp-list > li.cmp-list__item {
    div {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    &::before {
      all: unset;
    }
  }

  h3.cmp-accordion__header input[type="checkbox"],
  div.level2 .cmp-list > li.cmp-list__item div input[type="checkbox"] {
    accent-color: #2f3a48;
    width: 1.6rem;
    height: 1.6rem;
  }

  div.aem {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;

    button {
      gap: 0.5rem;
      align-items: center;

      span:last-child {
        &::after {
          display: inline-flex;
          height: 1.1rem;

          background-size: contain;
          content: "";
          transition: transform 0.2s linear;
          transform: rotate(270deg);
          padding-left: 1rem;
          mask-image: url($resourcePath + "/images/forms/Form-chev-down.svg");
          mask-position: center;
          mask-repeat: no-repeat;
          mask-size: contain;
          background-color: $primary-colorV2;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpointMobile) {
  .arborescence-container {
    .cmp-accordion__item {
      border-bottom: none;
    }
  }
}
