.cmp-image {
}
.cmp-image__link {
}
.cmp-image__image {
}
.cmp-image__title {
}

div.aem.image_component_default {
  margin-top: 4rem !important;
  margin-bottom: 2rem !important;

  overflow: hidden;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;

  img {
    width: 100%;
    height: auto;
    border-radius: 0px 0px 2.3rem 0px;
  }
}

@media screen and (max-width: $breakpointMobile) {
  div.aem.image_component_default {
    width: 100%;
  }
}
