<div class="button" data-sly-use.linkModel="com.leforemhe.aem.site.core.models.horizonemploi.LinkModel"
     data-sly-test.isConfigured="${linkModel.isConfigured}"
     data-sly-use.popupTemplate="templates/popupbase.html">
  <button
          type="button"
          popup-id="${linkModel.generatedId}"
          id="button-${linkModel.generatedId}"
          class="cmp-button link-icone ${linkModel.popupReference ? 'popupOpener' : ''}">
    <div class="icone" data-sly-test="${linkModel.icon}">
      <img src="${linkModel.icon}" alt="${linkModel.title}"/>
    </div>
    <div class="link-icone-text">
      <span class="cmp-button__text">${linkModel.title}</span>
      <span class="cmp-button__desc" data-sly-test.description="${linkModel.description}">
          ${description}
        </span>
    </div>
  </button>
  <sly data-sly-unwrap data-sly-test="${linkModel.popupReference && (wcmmode.preview || wcmmode.disabled)}" data-sly-call="${popupTemplate.popup @ id=linkModel.generatedId, title=linkModel.title, icon=linkModel.icon, jobTitle=linkModel.jobTitle, popupReference=linkModel.popupReference}"></sly>
</div>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-call="${template.placeholder @ isEmpty = !isConfigured}"></sly>
