@import "src/main/webpack/dependencies/site/scss/variables";

$article-header-backgroud-color: transparent
  linear-gradient(99deg, #f8e7ce 0%, #f9f5ed 100%) 0% 0% no-repeat padding-box;
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}
body,
header,
.aem {
  font-size: 1.6rem;
  margin: 0;
  font-family: $ffRegularV2;
  color: $primary-font-colorV2;
  font-weight: initial;
}

.aem {
  h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: 500;
  }
  h2 {
    font-size: 3.4rem;

    font-weight: 500;
  }

  h3 {
    font-size: 2.8rem;

    font-weight: 500;
  }

  h4 {
    font-size: 2.4rem;

    font-weight: 500;
  }
  h5 {
    font-size: 2rem;

    font-weight: 500;
  }
}

/* article .visuelsAdroite > div {
  @include max-width;

  margin: 0 auto;
} */

article header div.newpar {
  margin: 0;
}

.notForPC {
  display: none;
}
.notForMobile {
  display: initial;
}
p {
  margin-bottom: 3rem;
}
b,
strong {
  font-weight: 600;
}

.aem.youtube_component {
  @include max-width;
  margin: 0 auto;

  .multiComponent,
  section {
    margin-bottom: 1.5rem !important;

    .multi-content,
    div {
      background-color: #f4fafb;
      max-width: 100%;
      width: 100%;
    }
  }
}

.aem.youtube_container,
.aem .youtube_container {
  max-width: 96rem;
  width: 100%;
  padding: 3rem 0;
  .youtube_player {
    width: 100%;
    height: 100%;
    padding-bottom: 56.5%;
    position: relative;
    iframe {
      position: absolute;

      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.aem.image_component {
  @include max-width;
  margin: 0 auto;
}

.aem.image_component {
  max-height: 49.6rem;
  min-height: 30.6rem;

  max-width: 94.5rem;
  min-width: 34.8rem;

  margin: 0;
  margin-bottom: 2rem !important;

  img {
    width: 100%;

    max-width: 94.5rem;
    min-width: 34.8rem;

    height: auto;

    max-height: 49.6rem;
    min-height: 30.6rem;

    border-radius: 0px 0px 2.3rem 0px;
  }
}

@media screen and (max-width: $breakpointMobile) {
  .aem.image_component {
  }

  body .middle {
    transition: padding-top 0.3s linear;
  }
  body.searchOpenMobile .middle {
    padding-top: 8.6rem;
  }
  .aem {
    h1 {
      font-size: 2.9rem;
    }
    h2 {
      font-size: 2.6rem;
    }

    h3 {
      font-size: 2.3rem;
    }

    h4 {
      font-size: 1.8rem;
    }
    h5 {
      font-size: 1.6rem;
    }
  }

  .notForPC {
    display: initial;
  }
  .notForMobile {
    display: none;
  }
}

// @media screen and (max-width: $breakpointSmallMobile) {
//   .aem.image_component {
//     width: 100%;
//     height: 30.6rem;
//   }
// }

.centrePage {
  > *:first-child article header div:first-child * {
    padding-top: 3rem;
  }

  header {
    display: flex;
    min-height: 24.1rem;
    flex-direction: column;
    margin-bottom: 3.4rem;

    p {
      margin: 0;
    }
    .aem.title-container > * {
      margin: 0;
    }

    div.aem.title-container {
      padding-bottom: 1rem;
    }

    .aem.title-container,
    .aem.accroche-container,
    .aem.search-google-header,
    .cq-placeholder {
      background: $article-header-backgroud-color;
    }

    .aem.accroche-container {
      padding: 1.5rem 0;
    }

    .aem.accroche-container p {
      font-size: 1.8rem;
      padding-top: 0rem !important;
      display: block;
    }
    .aem.title-container h1,
    .aem.accroche-container p {
      margin: 0 auto;
      @include max-width;
    }
    > *:last-child {
      flex-grow: 1;
      background: $article-header-backgroud-color;
    }

    .aem.accroche-container p {
      padding-top: 0rem;
      display: block;
    }
    .aem.accroche-container p:last-child {
      padding-bottom: 0rem;
    }

    .cmp-text {
      padding: 0 !important;
    }

    .aem.accroche-container.flex {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      p:last-child {
        font-size: 1.4rem;
      }
    }
  }
}

.aem#filAriane {
  padding: 3rem 0rem;
  background: $article-header-backgroud-color;
  .filArianeContainer {
    @include max-width;
    margin: 0 auto;

    a {
      display: inline-block;
    }
  }
}

@media screen and (max-width: $breakpointMobile) {
  .aem#filAriane {
    padding: 2rem 0rem;

    .filArianeContainer {
      font-size: 0;

      > a:last-of-type {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        font-weight: 500;

        &::before {
          padding-right: 1rem;
          transform: rotate(180deg);
          display: inline-flex;
          width: 0.8rem;
          height: 1.5rem;
          background-size: contain;
          content: "";
          mask-image: url($resourcePath + "/images/header/chevron-right-regular.svg");
          mask-position: center;
          mask-repeat: no-repeat;
          mask-size: contain;
          background-color: $primary-colorV2;
        }
      }
    }
  }
  .centrePage header,
  .centrePage article > article {
    min-height: initial;
    > div:first-child {
      padding-top: 3rem;
    }
    > div:last-child {
      padding-bottom: 1.5rem;
    }
  }
}

.top-page-container.container.cq-Editable-dom.cq-Editable-dom--container {
  background: $article-header-backgroud-color;
}

.cq-Overlay--placeholder {
  max-width: $max-width;
  transform: translateX(calc((100vw - #{$max-width}) / 2));
}
/* .centrePage {
  padding-bottom: 5rem;
} */
.aem-AuthorLayer-Edit .centrePage {
  padding-bottom: 0;
}
.dynamicjs {
  height: 0;
}

.cmp-container {
  .new {
    margin: 0;
    height: 0;
  }

  p.accroche.cmp-text {
    font-size: 1.4rem;
    text-align: end;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.aem-AuthorLayer-Edit .cmp-container .new.cq-Editable-dom {
  margin: 1.25rem 0 1.5625rem 0;
}
.aem-AuthorLayer-Edit .cmp-container .cq-placeholder,
.aem-AuthorLayer-Edit .cmp-container .new.cq-Editable-dom {
  height: 2.875rem;
}

.contentCentered.he {
  @include max-width;
  margin: 0 auto;
}

.maxWidth .container-content {
  @include max-width;
  width: 100%;
  margin: 0 auto;
  .short-searchContainer {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}

.background-Yellow {
  background: $article-header-backgroud-color;
  &.partial-background::after {
    background: $article-header-backgroud-color;
  }
}

.background-Yellow2 {
  background: #fcf9f4;

  &.partial-background::after {
    background: #fcf9f4;
  }
}
.background-DarkBlue {
  background: $primary-colorV2;
  &.partial-background::after {
    background: $primary-colorV2;
  }
}

.header-minHeight {
  min-height: 32.6rem !important;
}

.padding-bottom {
  padding-bottom: 2rem;
}

.container .container-content {
  .aem.rte,
  .aem.youtube_component,
  .aem.image_component,
  .groupPaves.aem > div,
  .aem.forms,
  .aem.search-google-header form.gsc-search-box.gsc-search-box-tools,
  .aem.linkLists .linkLists-container,
  .aem.multiComponent,
  .aem.MDElist,
  .aem.pave,
  .aem.paveAuto,
  .aem#filAriane .filArianeContainer,
  .aem .groupTuilesHaut .haut-container,
  .aem .groupTuilesBas .bas-container,
  .aem.bottom1b .linkLists {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .aem .groupTuilesHaut,
  .aem .groupTuilesBas,
  .aem.linkLists {
    background-color: transparent;
  }

  .aem.accroche-container {
  }

  .chip-container {
    display: flex;
    .aem .chip-button,
    .aem button.chip-button {
      &:first-child {
        margin-left: 0rem !important;
      }
    }
  }

  div.aem.rte {
    p:first-child {
      margin-top: 2rem;
    }
  }

  .panelcontainer .popupOpener {
    padding: 0.75rem 0rem;
  }
}

.partial-background header {
  min-height: initial !important;
  margin-bottom: 0 !important;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -35.8rem;
    height: 38.5rem;
    width: 100%;
    z-index: -1;
    background: transparent linear-gradient(99deg, #f8e7ce 0%, #f9f5ed 100%) 0%
      0% no-repeat padding-box;
  }

  .container-content {
    padding-bottom: 0 !important;
  }
}

.container .container-content {
  .container > .container-content .aem.image_component:first-child,
  .container > .container-content > div > .aem.image_component,
  .container > .container-content .aem.youtube_container:first-child,
  .container > .container-content > div > .aem.youtube_container {
    margin-top: 0;
    padding-top: 0;
  }
}

header .container-content {
  .aem#filAriane .filArianeContainer,
  .aem#filAriane .filArianeContainer a,
  .aem#filAriane .filArianeContainer span,
  .aem.title-container,
  .aem.title-container h1,
  .aem.accroche-container {
    padding-top: 0 !important;
  }
  .aem.accroche-container,
  .aem.accroche-container .accroche .cmp-tex {
    padding: 0rem !important;
  }

  .aem#filAriane .filArianeContainer,
  .aem.title-container h1,
  .aem.accroche-container .accroche {
    max-width: inherit;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .aem#filAriane,
  .aem.title-container,
  .aem.accroche-container {
    background-image: none;
  }

  .aem.title-container {
    padding-bottom: 1rem;
  }

  .aem.accroche-container {
    padding: 0;
  }

  background: transparent !important;
}

@media screen and (max-width: $breakpointMobile) {
  .centrePage header {
    min-height: initial !important;
    .container-content {
    }
    > div.container-content:first-child {
      padding-top: 0;
    }
    > div:last-child {
      padding-bottom: 1.5rem;
    }
  }

  .container .container-content .container .container-content {
    div.aem.rte {
      p:first-child {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }
  }

  .partial-background header {
    &::after {
      bottom: -9.99rem;
      height: 10rem;
    }
  }

  .top-page-container.container.responsivegrid.partial-background,
  div.short-searchContainer:has(div.aem.title-container.results)
    div#rechercheMetier
    div.background-Yellow {
    padding-top: 12rem;
  }

  div div.image_component {
    margin: 1rem 0rem !important;
    // width: 42.12rem !important;
    // max-width: 42.12rem !important;
    // min-width: 42.12rem !important;
  }

  div.twoCol div.container-content div.container.aem div.container-content,
  div.container.maxWidth.padding-bottom div.container-content div {
    div.image_component {
      width: unset !important;
      max-width: unset !important;
      min-width: unset !important;
    }
  }
}

.container .container-content .container .container-content {
  padding: 0;
}
.twoCol > .cmp-container > .container-content,
.twoCol > .container-content {
  display: flex;

  gap: 8rem;
}

.twoCol div.container-content {
  div.container.maxWidth.cmp-container {
    min-width: $colSize !important;
    max-width: $colSize !important;
    width: $colSize !important;
  }
}
.twoCol.smallRight
  > .cmp-container
  > .container-content
  > .container:nth-child(2),
.twoCol.smallLeft
  > .cmp-container
  > .container-content
  > .container:nth-child(1) {
  min-width: $colSize;
  max-width: $colSize;
}

.twoCol.smallRight
  > .cmp-container
  > .container-content
  > .container:nth-child(1),
.twoCol.smallLeft
  > .cmp-container
  > .container-content
  > .container:nth-child(2) {
  max-width: calc(100% - #{$colSize} - #{$gapSize});
  flex-grow: 1;
}
.offsetTop {
  transform: translateY(-10rem);
}
@media screen and (max-width: $breakpointMobile) {
  .container .container-content .container .container-content {
    .chip-container {
      display: block;

      .chip-button {
        margin: 0.5rem;
      }
    }
  }

  .twoCol.smallRight
    > .cmp-container
    > .container-content
    > .container:nth-child(1) {
    max-width: none;

    .container .container-content .container .container-content {
      .chip-container {
        display: block;

        .chip-button {
          margin: 0.5rem;
        }
      }
    }
  }

  .twoCol.smallRight
    > .cmp-container
    > .container-content
    > .container:nth-child(2) {
    min-width: 0;
    margin-top: 2rem;
  }
  .twoCol > .cmp-container > .container-content {
    gap: 0;

    flex-direction: column;
    > .container {
      width: 100%;
      min-width: 0;
    }
  }
  .offsetTop {
    transform: translateY(0);
  }

  .twoCol > .cmp-container > .container-content,
  .twoCol > .container-content {
    flex-direction: column;

    gap: 0;
  }

  .twoCol .container-content {
    .cmp-container {
      min-width: 0 !important;
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}

div.linkedIcon.teasers {
  padding: 0 1.5rem;

  .teaser {
    padding: 0.75rem 0;
  }
}
