<sly
  data-sly-use.pave="com.leforemhe.aem.site.core.models.PaveModel"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-test.isConfig="${pave.title || pave.accroche ||  pave.reference.linkReference}"
>
  <article class="aem paveAuto">
    <div class="paveAuto-container">
      <div data-sly-test="${pave.imageSrc}" class="img_container">
        <div class="image">
          <img src="${pave.imageSrc}" />
        </div>
      </div>
      <h1 data-sly-test="${pave.title}">${pave.title}</h1>
      <p data-sly-test="${pave.accroche}">${pave.accroche}</p>
      <sly
        data-sly-test.internalLink="${pave.reference.linkReference @ extension='html'}"
        data-sly-test.externalLink="${pave.reference.linkReference}"
      ></sly>
      <a
        data-sly-test="${!pave.reference.document}"
        class="${pave.color}"
        target="${pave.reference.internal ? '_self' : '_blank'}"
        href="${pave.reference.internal ? internalLink : externalLink}"
        title="${pave.reference.title}"
      >
        ${pave.reference.label}
      </a>
      <a
        data-sly-test="${pave.reference.document}"
        class="${pave.color}"
        target="${pave.reference.internal ? '_self' : '_blank'}"
        href="${pave.reference.linkReference @ context='attribute'}"
        onclick="javascript:ga('send','event','document','download','${pave.reference.linkReference @ context='scriptString'}')"
        title="${pave.reference.title @context='attribute'}"
      >
        <span> ${pave.reference.label} (${pave.reference.extension}) </span>
      </a>
    </div>
  </article>
</sly>
<sly
  data-sly-call="${template.placeholder @ isEmpty= !isConfig, classAppend='forem-pave'}"
></sly>
