div.chart-container {
  .chartDoughnutContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  div.chart,
  div.chartDoughnut {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 57.5rem !important;
    height: 33.1rem !important;
  }

  div.chartDoughnut {
    width: 35.4rem !important;
    height: 30.4rem !important;
    margin: 0;
  }

  div.cmp-accordion {
    .cmp-accordion__item {
      border-bottom: none;

      .cmp-accordion__header {
        .cmp-accordion__button,
        .cmp-accordion__button .cmp-accordion__button--expanded {
          margin-left: 0;
          justify-content: start;
          div {
            display: flex;
            align-items: center;
            justify-content: center;

            .icone {
              margin-right: 1rem;
              width: 24px;
              height: 21px;

              img {
                width: 100%;
              }
            }

            .cmp-accordion__title {
              text-decoration: underline;
            }
          }

          &::after {
            display: none;
          }
        }
      }

      .cmp-accordion__panel,
      .cmp-accordion__panel--expanded {
        .text {
          .chart-details {
            padding: 2rem;
            margin-top: 1rem;
            border-radius: 1rem;
            background-color: #f7f7f7;
            display: flex;
            justify-content: space-between;

            p {
              font-size: 1.6rem;
              font-weight: 500;
              margin: 1rem 0rem;
            }

            table {
              width: fit-content;
              overflow: hidden;
              border-radius: 1rem;
              border-collapse: separate;
              border: solid rgb(222, 202, 173) 0.2rem;

              tr {
                background-color: white;

                &:nth-child(2n + 3) {
                  background: rgb(249, 245, 237);
                }

                th {
                  &:first-child {
                    border-left: none;
                  }
                  text-align: left;
                  border-left: solid rgb(222, 202, 173) 0.2rem;
                  border-bottom: solid rgb(222, 202, 173) 0.2rem;
                }

                td,
                th {
                  padding: 1rem 2rem;
                }
              }
            }

            .close-container {
              width: 4.4rem;
              height: 4.4rem;
              display: flex;
              align-items: center;
              justify-content: center;

              .details-close {
                height: 1.45rem;
                width: 1.45rem;
                mask-image: url($resourcePath + "/images/Close.svg");

                background-color: $primary-colorV2;
                mask-repeat: no-repeat;
                mask-size: contain;

                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
