<sly data-sly-use.model="com.leforemhe.aem.site.core.models.ListTagsComponent"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <div class="arborescence-container">
        <div data-sly-repeat.item="${model.tagsList}" class="accordion panelcontainer">
            <div id="accordion" class="cmp-accordion" data-cmp-is="accordion">
                <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-expanded="">
                    <h3 class="cmp-accordion__header">
                        <input type="checkbox"
                               id="${item.parentTag.value}"
                               name="${item.parentTag.value}"
                               data-tagname="${item.parentTag.tagName}"
                               class="option">
                        <button id="accordion-item-button"
                                class="cmp-accordion__button cmp-accordion__button--expanded"
                                aria-controls="accordion-item-panel" data-cmp-hook-accordion="button"
                                aria-expanded="true">
                            <span class="cmp-accordion__title">${item.parentTag.label}</span>
                        </button>
                    </h3>
                    <div data-cmp-hook-accordion="panel" id="accordion-item-panel"
                         class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region"
                         aria-labelledby="accordion-item-button" aria-hidden="false">
                        <div class="text">
                            <div class="cmp-text list level2">
                                <ul class="cmp-list" data-sly-list.childTag="${item.childTags}">
                                    <li class="cmp-list__item">
                                        <div>
                                            <label for="${childTag.value}">
                                                <input type="checkbox"
                                                       id="${childTag.value}"
                                                       name="${childTag.value}"
                                                       data-tagname="${childTag.tagName}"
                                                       class="${item.parentTag.value} subOption">
                                                <label for="${childTag.value}">${childTag.label}</label>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aem">
            <button onclick="clickButton('${model.internalLinkReference @ context='html'}')" disabled="true"
                    id="btnArborVoirMetiers" class="btn btn-primary">
                <span>${model.ctaLabel}</span>
                <span class="cmp-accordion__icon"></span>
            </button>
            </a>
        </div>
    </div>
    <sly data-sly-call="${templates.placeholder @ isEmpty = !model.tagNamespace}"></sly>
</sly>
