.cmp-button.link-icone {
  font-family: $ffRegularV2;
  @include link-icone;

  background-color: transparent;
  border: none;
  text-decoration: none;
  .link-icone-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    span {
      padding: 0;
    }
  }
  &:hover {
    .cmp-button__text {
      text-decoration: none;
    }
  }
  .cmp-button__text {
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: underline;
  }
  .cmp-button__desc {
    color: #969ca3;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
  }
}

.cmp-button.link-icone.dark {
  .cmp-button__text {
    color: white;
  }
}

.cmp-button__icon {
}
//.cmp-button__icon--myIcon {}
@media screen and (max-width: $breakpointMobile) {
  .cmp-button.link-icone {
    @include link-icone-mobile;
    .cmp-button__text {
      font-size: 1.6rem;
    }
    .cmp-button__desc {
      font-size: 1rem;
    }
  }
}
