<sly data-sly-use.searchResults="com.leforemhe.aem.site.core.search.SearchResults"
     data-sly-use.facets="templates/facets.html"
     data-sly-use.searchField="templates/search-field.html"
     data-sly-use.results="templates/results.html"
     data-sly-use.clientlibs="${'com.adobe.cq.wcm.core.components.models.ClientLibraries' @ categories='leforemhe.search'}">
    ${clientlibs.jsAndCssIncludes @ context="unsafe"}
    <sly data-sly-test="${searchResults.showResults}">
        <div class="short-searchContainer">
    </sly>
    <div id="rechercheMetier">
        <div class="background-Yellow">
            <sly data-sly-test="${searchResults.showResults}">
                <div class="short-content-container">
            </sly>
            <div class="aem title-container">
                <h1>${properties.title}</h1>
                <h5 data-sly-test="${properties.subtitle}" class="subTitle">
                    ${properties.subtitle}
                </h5>
            </div>
            <section data-sly-call="${searchField.searchField  @ action = searchResults.action, showResults = searchResults.showResults}" data-sly-unwrap/>
            <sly data-sly-test="${searchResults.showResults}">
                </div>
            </sly>
        </div>
    </div>
    <sly data-sly-test="${searchResults.showResults}">
        </div>
    </sly>


    <div data-sly-test="${searchResults.showResults}" class="container maxWidth padding-bottom aem twoCol listeResultats-container">
        <div class="container-content">
            <div class="filter-back-container" data-sly-test="${properties.showFacets == 'true'}"
                     data-sly-call="${facets.facets @ tags=searchResults.tagNamespaces}"></div>
            <div class="resultats-container"
                     data-sly-call="${results.results @ oneResultLabel = searchResults.oneResultLabel, multipleResultLabel = searchResults.multipleResultLabel, noResultText= searchResults.noResultText}">
            </div>
        </div>
    </div>
</sly>

