<sly data-sly-template.logos>
    <div class="logosPartenaires">
        <div class="logoForem">
            <a href="/index.html">
                <img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/FOREM-Logo.svg" />
                <sly data-sly-resource="${'copyright' @ resourceType='leforemhe/components/site/footer/copyright'}"
                     data-sly-unwrap="${!author}"></sly>
            </a>
        </div>
        <div class="logosPartenairesContainer">
            <a href="https://www.wallonie.be/">
                <img
                        src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/footer/Logo Wallonie.png"
                />
            </a>
            <a href="https://www.enmieux.be/">
                <img
                        src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/footer/logo_FEDER_FSE-WAL.png"
                />
            </a>
            <a href="https://www.synerjob.be/">
                <img
                        src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/footer/Synerjob.png"
                />
            </a>
        </div>
    </div>
</sly>