<sly data-sly-template.hamburgerIcon="${@ hamburgermenuHiddenOnDesktop, hamburgerFullyHidden, insideAgenda}">
    <div class="containerBurger">
        <sly data-sly-test="${!hamburgerFullyHidden}">
            <div data-sly-unwrap="${!hamburgermenuHiddenOnDesktop || insideAgenda}" id="containerMobile">
                <a aria-expanded="false" href="javascript:void(0)" id="mobile" role="navigation"
                   title="${'Ouverture ou fermeture du menu de navigation' @ i18n}">
                    <div class="container">
                        <!-- animation menu burger <-> croix -->
                        <div class="bar1">
                        </div>
                        <div class="bar2">
                        </div>
                        <div class="bar3">
                        </div>
                    </div>
                    <!-- fin animation menu burger <-> croix -->
                    <span>${'menu'@i18n}</span>
                </a></div>
        </sly>
    </div>
</sly>