.level2 {
  .cmp-list > li {
    margin-bottom: 1rem !important;
    &::before {
      top: 0.7rem;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
      border: 0.2rem solid $primary-font-colorV2;
      background-color: transparent;
      box-sizing: border-box;
    }
    ul {
      /*  margin-top: initial; */
      /* padding: initial; */

      > li {
        padding-left: 2.5rem;
      }
      > li::before {
        top: 0.9rem;
        left: 0;
        width: 0.8rem;
        height: 0.8rem;

        background-color: $primary-font-colorV2;
        box-sizing: border-box;
      }
    }
  }
}

.level3 {
  .cmp-list {
    li {
      padding-left: 2.5rem;
      margin-bottom: 1rem !important;
    }
    li::before {
      top: 0.9rem;
      left: 0;
      width: 0.8rem;
      height: 0.8rem;

      background-color: $primary-font-colorV2;
      box-sizing: border-box;
    }
  }
}

.list {
  ol {
    padding-left: 1.5rem;
  }

  ol li::marker {
    font-weight: 500;
  }
  ol,
  ul {
    padding: 0;
    > li {
      margin-bottom: 2.6rem;
      padding-left: 3rem;
      position: relative;
    }
    ol,
    ul {
      margin-top: 2.2rem;
      padding-bottom: 1rem;
      li {
        margin-bottom: 1rem;
        padding-left: 2.5rem;
        ul,
        ol {
          margin-top: 1.5rem;
        }
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    > li {
      /* margin-bottom: 2.6rem; */
      &::before {
        top: 0.5rem;
        display: block;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        left: 0;
        background-color: #decaac;
        border-color: #decaac;
        content: "";
      }

      &.title {
        font-size: 2.8rem;
        font-weight: 500;
        &::before {
          top: 1.3rem;
        }
        ul {
          font-size: initial;
          font-weight: 400;
          ul {
            margin-top: initial;
            padding: initial;
            list-style: square;
            li::before {
              display: none;
            }
          }
        }
      }
    }
  }
  ul li ul > li,
  ol li ul > li {
    /*   padding-left: 2.5rem; */
    /*  margin-bottom: 1rem; */
    position: relative;
    //transform: translateX(-4rem);
    &::before {
      top: 0.7rem;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
      border: 0.2rem solid $primary-font-colorV2;
      background-color: transparent;
      box-sizing: border-box;
    }
    ul {
      /*  margin-top: initial; */
      /* padding: initial; */

      > li {
        padding-left: 2.5rem;
      }
      > li::before {
        top: 0.9rem;
        left: 0;
        width: 0.8rem;
        height: 0.8rem;

        background-color: $primary-font-colorV2;
        box-sizing: border-box;
      }
    }
  }

  ol {
    counter-reset: item;
    > li {
      list-style-type: none;
      counter-increment: item;
      li:before {
        font-weight: 500;
      }
    }
    > li:before {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      font-weight: 600;
      text-align: right;
      content: counter(item) ".";
    }
  }
}

.cmp-list__item {
}
.cmp-list__item-link {
}
.cmp-list__item-title {
}
.cmp-list__item-date {
}

.activitéListContainer {
  padding-left: 1.5rem;

  & > div {
    margin-bottom: 5rem;
  }

  h1 {
    font-weight: 600;
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }

  .list ul {
    margin: 0;
  }

  .list ol > li,
  .list ul > li {
    margin-bottom: 1rem;
  }
}
