div#rechercheMetier:has(div.aem.title-container.results) {
  div.aem.title-container.results {
    display: none;
  }
}

.twoCol.listeResultats-container .container-content {
  gap: 3rem !important;
  margin-top: 5.85rem;
  width: 100%;
  flex-direction: row;
  //   padding-right: unset;

  .filter-back-container {
    width: fit-content;
  }

  .resultats-container {
    width: 95.5rem;

    div.contentCentered.he {
      display: none;
    }

    div.contentCentered.he.result-counter {
      display: flex;
      justify-content: center;
    }

    .tuile-results-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .zero-results-container {
        p:first-child {
          margin-bottom: 1.6rem;
        }
        p strong {
          text-decoration: underline;
        }
      }

      div.teaser.tuileContainer:nth-child(-n + 2) {
        margin-top: unset !important;
      }
      div.teaser.tuileContainer:nth-child(even) {
        margin-right: unset !important;
      }
    }
  }
}

@media screen and (max-width: $breakpointWideScreen) {
  .twoCol.listeResultats-container .container-content {
    .resultats-container .tuile-results-container {
      div.teaser.tuileContainer {
        width: 35rem;
      }
    }
  }
}

@media screen and (max-width: $breakpointMobile) {
  .twoCol.listeResultats-container .container-content {
    margin-top: 15rem !important;
    flex-direction: row !important;

    .resultats-container {
      div.contentCentered.he.result-counter {
        display: none;
      }

      .tuile-results-container {
        div.teaser.tuileContainer {
          width: 35rem;
        }
      }
    }
  }

  div#rechercheMetier:not(:has(div.aem.title-container.results)) {
    & + div .container-content {
      margin-top: 15rem !important;
    }
  }

  div#rechercheMetier:has(div.aem.title-container.results) {
    div.background-Yellow::after {
      all: unset;
    }

    div.aem.title-container.results {
      display: flex;
      margin-top: 2rem;
      h1,
      h5 {
        width: 100%;
      }
    }

    nav#filAriane {
      display: flex;
      div {
        padding-left: 0;
      }
    }

    div.searchContainer,
    div.aem.title-container {
      display: none;
    }

    & + div .container-content {
      margin-top: 5.85rem !important;
    }
  }
}

@media screen and (max-width: $breakpointTablet) {
  .twoCol.listeResultats-container .container-content {
    margin-top: 15rem;
    flex-direction: row;

    .resultats-container .tuile-results-container {
      align-items: center;
      flex-direction: column;

      div.teaser.tuileContainer {
        width: 46.25rem !important ;
        margin-right: 0rem !important;
      }
    }
  }

  div#rechercheMetier:has(div.aem.title-container.results) {
    div.aem.title-container.results {
      display: flex;
      margin-top: 2rem;
      h1,
      h5 {
        width: 100%;
      }
    }

    div.searchContainer,
    div.aem.title-container {
      display: none;
    }

    & + div .container-content {
      margin-top: 5.85rem !important;
    }
  }
}

@media screen and (max-width: $breakpointSmallMobile_100) {
  .twoCol.listeResultats-container .container-content {
    margin-top: 15rem !important;
    .resultats-container {
      width: 100%;

      div.contentCentered.he {
        display: block;

        .cmp-teaser {
          justify-content: end;
          a .cmp-teaser__image {
            border: unset;
            background-color: unset;
            margin-right: unset;

            img {
              width: 2.5rem;
              height: 2.5rem;
              margin-top: 0.2rem;
            }
          }
        }
      }

      div.contentCentered.he.result-counter {
        display: none;
      }

      .tuile-results-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100% !important;

        // div.teaser.tuileContainer:nth-child(-n + 2) {
        //   margin-top: unset !important;
        // }
        // div.teaser.tuileContainer:nth-child(even) {
        //   margin-right: unset !important;
        // }

        div.teaser.tuileContainer {
          margin-right: 3rem !important;
          width: 35rem !important;
          div.aem.cmp-teaser__tags {
            width: unset !important;
            margin: 0.5rem 0 !important;

            .chip-button {
              padding: 0.6rem 1.2rem;
              margin-top: 0.5rem;
              margin-bottom: 0.5rem;
              font-weight: 600 !important;
              width: unset !important;
              display: unset !important;
            }
          }
        }
      }
    }

    .filter-back-container {
      display: none;
    }
  }

  div#rechercheMetier:has(div.aem.title-container.results) {
    div.aem.title-container.results {
      display: flex;
      margin-top: 2rem;
      h1,
      h5 {
        width: 100%;
      }
    }

    div.searchContainer,
    div.aem.title-container {
      display: none;
    }

    & + div .container-content {
      margin-top: 5.85rem !important;
    }
  }
}

@media screen and (max-width: $breakpointSmallMobile_60) {
  .twoCol.listeResultats-container .container-content {
    .resultats-container {
      width: 100%;

      div.contentCentered.he {
        display: block;

        .cmp-teaser {
          justify-content: end;
          a .cmp-teaser__image {
            border: unset;
            background-color: unset;
            margin-right: unset;

            img {
              width: 2.5rem;
              height: 2.5rem;
              margin-top: 0.2rem;
            }
          }
        }
      }

      div.contentCentered.he.result-counter {
        display: none;
      }

      .tuile-results-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100% !important;

        // div.teaser.tuileContainer:nth-child(-n + 2) {
        //   margin-top: unset !important;
        // }
        // div.teaser.tuileContainer:nth-child(even) {
        //   margin-right: unset !important;
        // }

        div.teaser.tuileContainer {
          margin-right: 0 !important;
          div.aem.cmp-teaser__tags {
            width: unset !important;
            margin: 0.5rem 0 !important;

            .chip-button {
              padding: 0.6rem 1.2rem;
              margin-top: 0.5rem;
              margin-bottom: 0.5rem;
              font-weight: 600 !important;
              width: unset !important;
              display: unset !important;
            }
          }
        }
      }
    }

    .filter-back-container {
      display: none;
    }
  }

  div#rechercheMetier:has(div.aem.title-container.results) {
    div.aem.title-container.results {
      display: flex;
      margin-top: 2rem;
      h1,
      h5 {
        width: 100%;
      }
    }

    div.searchContainer,
    div.aem.title-container {
      display: none;
    }

    & + div .container-content {
      margin-top: 5.85rem !important;
    }
  }
}
