div#rechercheMetier,
.short-searchContainer div#rechercheMetier {
  .background-Yellow {
    padding: 5rem 0rem;

    nav#filAriane {
      display: none;
    }
  }

  & > div,
  .title-container,
  .searchContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .searchCheckbox {
    width: 100%;
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #2f3a48;
  }

  .title-container {
    h1 {
      margin-bottom: 0;
    }

    h5 {
      font-size: 1.8rem;
    }
  }

  .search-facets-container,
  .search-results {
    display: inline-block;
  }

  .search-facets-container,
  .search-results {
    display: inline-block;
  }
  .cmp-search-results {
    a {
      display: block;
    }
  }

  .searchContainer {
    width: 100%;
    max-width: 96rem;

    margin-bottom: 5rem;

    position: relative;

    .helpText {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;

      .icone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.4rem;
        height: 4.4rem;

        img {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }

    .searchbox {
      width: 100%;
      padding: 1rem;
      border-radius: 1.4rem;
      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fcf9f4 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 3px #00000029;

      div {
        width: 100%;
        position: relative;
        z-index: 1;

        input {
          width: 100%;
          height: 6rem;

          padding: 1.5rem;
          border-radius: 10px;
          font-style: italic;
          border: solid 0.1rem #dbc2a4;
          background: #ffffff 0% 0% no-repeat padding-box;
          &:focus,
          &:focus-visible {
            outline-width: 0;
          }
        }

        .searchSuggestions,
        .valueChips {
          display: none;
          position: absolute;
          z-index: -1;

          top: 4rem;

          background-color: white;
          padding: 1rem;
          padding-top: 3rem;
          border-radius: 15px;
          border: solid 0.05rem #dfcab0;

          .chips,
          button {
            width: fit-content;
            margin: 0.5rem;
            word-break: break-all !important;
            height: unset;
            min-height: 3.6rem;
          }
        }

        .valueChips {
          z-index: -2;
        }
      }

      div.searchCheckbox-container {
        display: flex;
        position: absolute;
        bottom: -4.8rem;
        align-items: center;
        gap: 1rem;
        z-index: 0;

        left: 0;
        width: fit-content;

        &:focus,
        &:focus-visible,
        &:focus-within {
          border: 0.2rem solid #e59700;
          border-radius: 0.5rem;
        }

        input[type="checkbox"] {
          accent-color: #2f3a48;
          width: 4rem;
          height: 2rem;
          margin-top: 0rem;
        }
      }

      .searchBtn {
        z-index: 0;
        margin: 0;
        width: fit-content;
        display: flex;
        justify-content: end;
        button {
          width: 6rem;
          height: 6rem;

          display: flex;
          justify-content: center;

          img {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }
  }

  .centrePage > *:first-child article header div:first-child * {
    padding-top: unset !important;
  }

  .twoCol .container-content {
    gap: 7rem;
    margin-top: 5.85rem;

    .filter-back-container .filter-container {
      min-width: unset !important;
      width: unset !important;
    }

    .resultats-container .tuile-results-container {
      display: flex;
      flex-wrap: wrap;
      width: 96.1rem;

      div.teaser.tuileContainer:nth-child(-n + 2) {
        margin-top: unset !important;
      }
      div.teaser.tuileContainer:nth-child(even) {
        margin-right: unset !important;
      }
    }
  }
}

.short-searchContainer div#rechercheMetier div.background-Yellow {
  padding-left: 1.5rem;

  div.short-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 140rem;
    .title-container {
      margin-bottom: 2rem;
      align-items: flex-start;
    }

    .searchContainer {
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 1rem;
      width: fit-content;
      margin-bottom: 3rem;

      .helpText {
        width: unset;
        justify-content: unset;
        flex-direction: row;
      }

      .searchbox {
        width: 50rem;
        flex-direction: row;
        position: relative;

        .searchCheckbox-container {
          display: flex;
          align-items: center;
          flex-direction: row;

          left: 0;
          width: fit-content;

          &:focus,
          &:focus-visible,
          &:focus-within {
            border: 0.2rem solid #e59700;
            border-radius: 0.5rem;
          }

          .searchCheckbox {
            input[type="checkbox"] {
              accent-color: #2f3a48;
            }
            margin-top: 0;
            width: 4rem;
            height: 2rem;
            accent-color: #2f3a48;
          }

          label {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpointMobile) {
  div#rechercheMetier,
  .short-searchContainer div#rechercheMetier {
    position: relative;

    .background-Yellow {
      padding: 1rem 2rem;

      &::after {
        content: "";
        padding-bottom: 15rem;
      }

      nav#filAriane {
        display: none;
      }
    }

    .searchContainer {
      width: 100%;
      margin-bottom: 1rem;
      position: absolute;
      bottom: -10rem;
      padding: 0rem 2rem;

      .searchbox {
        gap: 1.5rem;
        padding: 1.5rem;
        flex-direction: column;

        div.searchCheckbox-container {
          position: relative;
          bottom: 0 !important;
          padding-left: 0 !important;

          margin-left: 0rem;
          margin-right: auto;

          input[type="checkbox"] {
            width: 2.5rem;
          }
        }

        .searchSuggestions,
        .valueChips {
          button {
            font-weight: 400;
          }
        }

        .searchBtn {
          width: 100%;

          button {
            width: 100%;

            img {
              display: none;
            }

            &::after {
              content: "Rechercher";
            }
          }
        }
      }
    }

    .aem {
      width: 100%;
      margin-top: 1.5rem;

      button,
      .icone {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button {
        color: #363d4a;
        font-weight: 550;
        width: 80%;
      }
    }
  }

  .short-searchContainer div#rechercheMetier div.background-Yellow {
    align-items: center;

    div.short-content-container {
      width: 100% !important;
      max-width: unset !important;
      align-items: center;

      .title-container {
        margin-bottom: unset;
        align-items: center;
      }

      .searchContainer {
        flex-direction: column !important;
        justify-content: unset;
        gap: unset;
        width: 100% !important;
        bottom: -15rem;

        .helpText {
          width: 100%;
          justify-content: end;
        }

        .searchbox {
          width: 100% !important;
          gap: 1.5rem;
          flex-direction: column !important;

          div:first-child {
            width: 100%;
            max-width: unset;
          }

          div.searchCheckbox-container {
            margin-left: 0rem;
            margin-right: auto;

            label {
              white-space: unset !important;
            }
          }
        }
      }
    }
  }

  // div.container-content:has(div#rechercheMetier) {
  //   & + div {
  //     margin-top: 15rem;
  //   }
  // }

  div#rechercheMetier {
    margin-bottom: 15rem !important;
  }
}
