registry=https://registry.npmjs.org/
@le-forem-dsi:registry=https://pkgs.dev.azure.com/leforem/_packaging/ForemFeed/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/leforem/_packaging/ForemFeed/npm/registry/:username=leforem
//pkgs.dev.azure.com/leforem/_packaging/ForemFeed/npm/registry/:_password=amhmbGloNTM0eTY1eGZxYXU3cHRycGJ0cDczbGxkbXN6ZnA2MmgycHF5cW9uemV4b2NhYQ==
//pkgs.dev.azure.com/leforem/_packaging/ForemFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/leforem/_packaging/ForemFeed/npm/:username=leforem
//pkgs.dev.azure.com/leforem/_packaging/ForemFeed/npm/:_password=amhmbGloNTM0eTY1eGZxYXU3cHRycGJ0cDczbGxkbXN6ZnA2MmgycHF5cW9uemV4b2NhYQ==
//pkgs.dev.azure.com/leforem/_packaging/ForemFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token