div#rechercheMetier {
  .background-Yellow {
    padding: 10rem 0rem;
  }

  & > div,
  .title-container,
  .searchContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .searchCheckbox {
    width: 100%;
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #2f3a48;
  }

  .title-container {
    h1 {
      margin-bottom: 0;
    }

    h5 {
      font-size: 1.8rem;
    }
  }

  .search-facets-container,
  .search-results {
    display: inline-block;
  }

  .search-facets-container,
  .search-results {
    display: inline-block;
  }
  .cmp-search-results {
    a {
      display: block;
    }
  }

  .searchContainer {
    width: 80%;
    margin-bottom: 5rem;

    position: relative;

    .helpText {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;

      .icone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.4rem;
        height: 4.4rem;

        img {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }

    .searchbox {
      width: 100%;
      padding: 1rem;
      border-radius: 1.4rem;
      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fcf9f4 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 3px #00000029;

      div {
        width: 100%;
        position: relative;
        z-index: 1;
        input {
          width: 100%;
          height: 6rem;

          padding: 1.5rem;
          border-radius: 10px;
          font-style: italic;
          border: solid 0.1rem #dbc2a4;
          background: #ffffff 0% 0% no-repeat padding-box;
          &:focus,
          &:focus-visible {
            outline-width: 0;
          }
        }

        .searchSuggestions,
        .valueChips {
          display: none;
          position: absolute;
          z-index: -1;

          top: 4rem;

          background-color: white;
          padding: 1rem;
          padding-top: 3rem;
          border-radius: 15px;
          border: solid 0.05rem #dfcab0;

          .chips,
          button {
            width: fit-content;
            margin: 0.5rem;
          }
        }

        .valueChips {
          z-index: -2;
        }
      }

      .searchBtn {
        margin: 0;
        width: fit-content;
        display: flex;
        justify-content: end;
        button {
          width: 6rem;
          height: 6rem;

          display: flex;
          justify-content: center;

          img {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }

    form.form-searchbox {
      width: 100%;
    }
  }

  .short-searchContainer {
    align-items: flex-start;
    padding-left: 3rem;

    .title-container {
      margin-bottom: 2rem;
    }

    .searchContainer {
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 1rem;
      width: fit-content;

      .helpText {
        width: unset;
        justify-content: unset;
      }

      .searchbox {
        width: 50rem;
      }
    }
  }

  .centrePage > *:first-child article header div:first-child * {
    padding-top: unset !important;
  }

  .twoCol .container-content {
    gap: 7rem;
    margin-top: 5.85rem;

    .filter-back-container .filter-container {
      min-width: unset !important;
      width: unset !important;
    }

    .resultats-container .tuile-results-container {
      display: flex;
      flex-wrap: wrap;
      width: 96.1rem;

      div.teaser.tuileContainer:nth-child(-n + 2) {
        margin-top: unset !important;
      }
      div.teaser.tuileContainer:nth-child(even) {
        margin-right: unset !important;
      }
    }
  }
}

@media screen and (max-width: $breakpointMobile) {
  div#rechercheMetier {
    margin-top: 12rem;
    position: relative;

    .background-Yellow {
      padding: 1rem 2rem;

      &::after {
        content: "";
        padding-bottom: 10rem;
      }
    }

    .short-searchContainer {
      align-items: center;
      padding-left: unset;

      .title-container {
        margin-bottom: unset;
      }

      .searchContainer {
        flex-direction: column;
        justify-content: unset;
        gap: unset;
        width: 100%;

        .helpText {
          width: 100%;
          justify-content: flex-end;
        }

        .searchbox {
          width: 100%;
        }
      }
    }

    .searchContainer {
      width: 100%;
      margin-bottom: 1rem;
      position: absolute;
      bottom: -10rem;
      padding: 0rem 2rem;

      .searchbox {
        gap: 1.5rem;
        padding: 1.5rem;
        flex-direction: column;

        .searchSuggestions,
        .valueChips {
          padding-top: unset;
          display: none !important;
        }

        .searchBtn {
          width: 100%;

          button {
            width: 100%;

            img {
              display: none;
            }

            &::after {
              content: "Rechercher";
            }
          }
        }
      }
    }

    .aem {
      width: 100%;
      margin-top: 1.5rem;

      button,
      .icone {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button {
        color: #363d4a;
        font-weight: 550;
        width: 80%;
      }
    }
  }
}
