<template data-sly-template.popup="${@ id, title, icon, jobTitle, popupReference}">
    <div class="popup aem" tabindex="-1" popup-id="${id}">
        <div class="popup-container">
            <div class="popup-header">
                <div class="popup-title">
                    <div class="icone">
                        <img src="${icon}"/>
                    </div>
                    ${title}
                </div>
                <button class="popup-close-top-btn">
                    <div class="popup-close"></div>
                </button>
            </div>
            <div class="popup-content">
                <div class="popup-subtitle">${jobTitle}</div>
                <div class="accordion panelcontainer">
                    <sly data-sly-resource="${popupReference @ wcmmode='disabled'}"></sly>
                </div>
            </div>
            <button class="popup-close-bottom-btn">
                <div class="popup-button btn btn-tertiary closeButton">${'Fermer' @ i18n}</div>
            </button>
        </div>
    </div>
    </sly>
</template>
