.teaser.tuileContainer {
  margin: 1.5rem 3rem 1.5rem 0rem !important;

  min-width: 35rem;
  max-width: 46.25rem;
  border-radius: 1.4rem;
  box-shadow: 0px 1px 3px #00000029;
  padding-bottom: 0.5rem;

  a {
    all: unset;
    text-decoration: none !important;
    cursor: pointer;

    .cmp-teaser {
      flex-direction: column !important;
      padding-bottom: 0;

      .cmp-teaser__image:first-child {
        all: unset;
        height: 15.8rem;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;

        img {
          max-height: 15.8rem;
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 1.4rem 1.4rem 0 0;
        }
      }

      .cmp-teaser__content {
        margin: 0 1.5rem;

        .cmp-teaser__header .cmp-teaser__title,
        .cmp-teaser__description {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }

        .cmp-teaser__header {
          display: flex;
          margin-bottom: 1rem;
          align-items: center;
          justify-content: space-between;

          .cmp-teaser__title {
            font-size: 1.8rem;
            text-decoration: none;

            -webkit-line-clamp: 2;
            line-clamp: 2;
          }

          .cmp-teaser__image {
            margin: 1.5rem 0rem 1.5rem 1.5rem;
            max-width: 4.4rem;
            min-width: 4.4rem;
            width: 4.4rem;
            height: 4.4rem;
            border-radius: 50%;
            background-color: #d9eff0;
            border-color: #d9eff0;
            cursor: pointer;

            .cmp-image img {
              height: 1.65rem;
            }
          }
        }

        .cmp-teaser__description {
          -webkit-line-clamp: 3;
          line-clamp: 3;

          margin-bottom: 1rem;
          p {
            font-size: 1.6rem;
            color: #2f3a48;
          }
        }
      }

      .cmp-teaser__tags {
        order: 2;
        margin: 0.5rem 0;

        .chip-button {
          padding: 0.6rem 1.2rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpointMobile) {
  .teaser.tuileContainer {
  }
}
