<div data-sly-use.model="com.leforemhe.aem.site.core.models.horizonemploi.PopupComponent"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.popupTemplate="templates/popupbase.html">
  <div class="popupOpener">
  <div data-sly-unwrap data-sly-resource="${'linkModel' @ resourceType='leforemhe/components/site/linkicon', cssClassName='popupOpener'}"/>
  </div>
  <sly data-sly-unwrap data-sly-call="${popupTemplate.popup @ title=model.title, icon=model.icon, jobTitle=model.jobTitle}"></sly>

</div>
<sly data-sly-call="${template.placeholder @ isEmpty = !model.linkModel, classAppend='cmp-text'}"></sly>
