<template data-sly-template.searchField="${ @ action, showResults, fallbackImage}">
    <div class="searchContainer"
         data-show-search-results="${showResults ? 'true' : 'false'}"
         data-search-result-page="${action}"
         data-quick-suggestions-enabled="${properties.showSuggestions}"
         data-quick-suggestions="${resource.path}/quick-suggestions.suggestions.json"
         data-quick-search-results-enabled="${properties.showQuickResults}"
         data-fallback-image="${fallbackImage}"
         data-dynamic-search="${properties.dynamicSearch}"
         data-quick-search-results="${resource.path}/quick-results.results.json">
        <div class="aem helpText">
            <div class="icone">
                <img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/life-ring.svg">
            </div>
            <div>
                <a tabindex="1" href="${properties.besoindaideUrl}">${properties.besoinAide}</a>
            </div>
        </div>

        <div class="searchbox">
            <div>
                <input tabindex="2" onkeyup="getValue(this)" id="searchInput" type="text"
                       placeholder="Rechercher par mots-cles, métiers, numéro">
                <div id="searchSuggestions" class="aem searchSuggestions">
                </div>
                <div id="valueChips" class="aem valueChips"></div>
            </div>
            <div tabindex="3" class="searchCheckbox-container">
                <input type="checkbox" id="searchCheckbox" name="or" class="searchCheckbox">
                <label for="searchCheckbox">${properties.showOffersWhichNotAllIncludeKeywordsLabel}</label>
            </div>
            <div class="aem searchBtn">
                <button tabindex="4" class="btn btn-primary">
                    <img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/magnifying-glass.svg">
                </button>
            </div>
        </div>
    </div>
</template>

