<template data-sly-template.searchField="${ @ searchResults}">
    <div class="searchContainer"
         data-quick-suggestions-enabled="${properties.showSuggestions}"
         data-quick-suggestions="${resource.path}/quick-suggestions.suggestions.json"
         data-quick-search-results-enabled="${properties.showQuickResults}"
         data-quick-search-results="${resource.path}/quick-results.results.json">
        <div class="aem helpText">
            <div class="icone">
                <img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/life-ring.svg">
            </div>
            <div>
                <a href="${properties.besoindaideUrl}">${properties.besoinAide}</a>
            </div>
        </div>
        <div class="searchbox">
            <div>
                <input onkeyup="getValue(this)" id="searchInput" type="text"
                       placeholder="Rechercher par mots-cles, métiers, numéro">
                <div id="searchSuggestions" class="aem searchSuggestions">
                </div>
                <div id="valueChips" class="aem valueChips"></div>
            </div>
            <div class="aem searchBtn">
                <button class="btn btn-primary">
                    <img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/magnifying-glass.svg">
                </button>
            </div>
        </div>
    </div>
</template>

