<template data-sly-template.searchField="${ @ action, showResults, fallbackImage}">
    <div class="searchContainer">
        <div class="aem helpText">
            <div class="icone">
                <img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/life-ring.svg" alt="" aria-hidden="true">
            </div>
            <div>
                <a tabindex="1" href="${properties.besoindaideUrl}">${properties.besoinAide}</a>
            </div>
        </div>

        <div class="searchbox">
            <div>
                <input onkeyup="getValue(this)" id="searchInput" type="text"
                       placeholder="Rechercher par mots-cles, métiers, numéro">
                <div id="searchSuggestions" class="aem searchSuggestions">
                </div>
                <div id="valueChips" class="aem valueChips"></div>
            </div>
            <div class="searchCheckbox-container">
                <input type="checkbox" id="searchCheckbox" name="or" class="searchCheckbox">
                <label for="searchCheckbox">${properties.showOffersWhichNotAllIncludeKeywordsLabel}</label>
            </div>
            <div class="aem searchBtn">
                <button class="btn btn-primary">
                    <img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/magnifying-glass.svg" alt="" aria-hidden="true">
                </button>
            </div>
        </div>
    </div>
</template>

