.cmp-accordion {
  @include max-width;
}
.cmp-accordion__item {
  padding: 1rem 0;
  &[data-cmp-expanded] {
    .cmp-accordion__button::after {
      transform: rotate(180deg);
    }
  }
}
.cmp-accordion__header {
}
.cmp-accordion__button {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0;
  border: none;
  width: fit-content;
  &::after {
    display: inline-flex;
    height: 1.1rem;
    width: 2rem;
    background-size: contain;
    content: "";
    transition: transform 0.2s linear;
    transform: rotate(0deg);
    padding-left: 1rem;
    mask-image: url($resourcePath + "/images/forms/Form-chev-down.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: $primary-colorV2;
  }
}
.cmp-accordion__button--expanded {
}
.cmp-accordion__title {
  text-decoration: underline;
}

.cmp-accordion__icon {
}
.cmp-accordion__panel {
}
.cmp-accordion__panel--expanded {
}
.cmp-accordion__panel--hidden {
}

@media screen and (max-width: $breakpointMobile) {
  .cmp-accordion__item {
    border-bottom: 1px solid $primary-colorV2;
  }
  .cmp-accordion__button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &::after {
      margin-top: 0.5rem;
    }
  }
  .cmp-accordion__title {
    text-decoration: none;
  }
}
