.no-bottom {
  margin-bottom: 0 !important;
}

.filter-container {
  min-width: 30rem;
  max-width: 38.5rem;
  padding-left: 1.5rem;

  display: flex;
  flex-direction: column;

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;

    div {
      gap: 1rem;
      display: flex;
      align-items: center;

      h1 {
        font-weight: 550;
        font-size: 2.4rem;
      }

      .cmp-teaser__image {
        min-width: 4rem;
        min-height: 4rem;
        width: 4rem;
        height: 4rem;
        margin: 0%;

        .cmp-image {
          width: 1.7rem;
          height: 1.6rem;

          img {
            width: 1.7rem;
            height: 1.6rem;
          }
        }
      }
    }

    .popup-close-top-btn {
      display: none;
    }
  }

  .cmp-accordion {
    padding-left: 0;

    h3.cmp-accordion__header {
      margin-bottom: 1.5rem;

      button {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        &.cmp-accordion__button::after,
        &.cmp-accordion__button--expanded::after {
          float: right;
        }

        span {
          text-decoration: none;
          font-weight: 600;
          font-size: 1.8rem;
          padding-left: 0.5rem;
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      border-radius: 10px;

      label {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      & div:last-child {
        width: 3.4rem;
        max-width: 3.4rem;
        min-width: 3.4rem;
        margin-left: 1rem;
        span {
          float: right;
        }
      }

      &:hover {
        background-color: rgb(251, 231, 203);
      }

      .checkbox-container {
        gap: 1rem;
        display: flex;
        align-items: center;

        input[type="checkbox"] {
          accent-color: $primary-colorV2;
          width: 2rem;
          height: 2rem;
        }

        label {
          font-size: 1.6rem;

          // -webkit-line-clamp: 1;
          // line-clamp: 1;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // display: -webkit-box;
          // -webkit-box-orient: vertical;
        }
      }
    }
  }

  div.cmp-accordion__item {
    border-bottom: 0.1rem solid $heigt-color;
    margin-bottom: 1rem;
  }

  .popup-close-bottom-btn {
    display: none;
    width: fit-content;
    align-self: center;
  }
}

div.popup-content {
  div.filter-container {
    max-width: unset;
  }

  div.filter-container,
  div.filter-container div.accordion.panelcontainer div {
    padding-left: 0rem;
  }

  & + button.popup-close-bottom-btn {
    margin-left: 0 !important;
  }
}

.two-columns {
  display: flex !important;
  gap: 1rem;

  .filter-container .filter-header {
    justify-content: unset;
    gap: 1rem;
    display: inline-block;

    h1 {
      font-weight: 550;
      font-size: 2.4rem;
    }

    .cmp-teaser__image {
      min-width: 4rem;
      min-height: 4rem;
      width: 4rem;
      height: 4rem;
      margin: 0%;

      .cmp-image,
      .cmp-image img {
        width: 1.7rem;
        height: 1.6rem;
      }
    }
  }

  .contentCentered {
    display: none;
  }
}

@media screen and (max-width: $breakpointSmallMobile) {
  .filter-back-container {
    position: relative;
    background-color: rgba(47, 58, 72, 0.8);
    width: 100vw;
    height: 100vh;

    .filter-container {
      position: absolute;
      width: 100% !important;
      max-width: unset !important;
      min-width: unset !important;
      max-height: 90%;
      padding: 2rem 1.5rem;
      background-color: white;
      border-radius: 2.4rem 2.4rem 0 0;
      bottom: 0;

      display: flex;
      flex-direction: column;

      .filter-header {
        margin-bottom: 3rem;
        padding-left: 0.5rem;

        .popup-close-top-btn {
          display: inline-block;
          background-color: transparent;
          border: none;

          .filter-popup-close {
            height: 1.45rem;
            width: 1.45rem;
            mask-image: url($resourcePath + "/images/Close.svg");

            background-color: $primary-colorV2;
            mask-repeat: no-repeat;
            mask-size: contain;

            cursor: pointer;
          }
        }
      }

      h3.cmp-accordion__header {
        button {
          display: flex;
          justify-content: space-between !important;
          align-items: center;
          span {
            text-decoration: none;
            font-weight: 500;
            font-size: 1.8rem;
          }
        }
      }

      ul {
        li {
          gap: 1rem;
        }
      }

      .popup-close-bottom-btn {
        display: inline-block;
        background-color: transparent;
        border: none;
        width: fit-content;
        align-self: center;
      }
    }
  }

  .two-columns {
    display: block !important;
    gap: 0;

    .filter-container {
      display: none;
    }

    .contentCentered {
      display: block;
    }
  }

  div.popup-header {
    .popup-title {
      gap: 1rem;
      font-weight: 550 !important;
      font-size: 2.4rem !important;

      .cmp-teaser__image {
        min-width: 4rem;
        min-height: 4rem;
        width: 4rem;
        height: 4rem;
        margin: 0%;

        .cmp-image,
        .cmp-image img {
          width: 1.7rem;
          height: 1.6rem;
        }
      }
    }
  }

  div.popup-content .filter-container {
    width: 100% !important;
    max-width: unset;
    min-width: unset;

    h3 {
      button {
        justify-content: space-between !important;
      }
    }
  }
}
