<div class="container">
    <div>
        <div class="circle">
            <div class="eyes">
                <div class="eye"></div>
                <div class="eye"></div>
            </div>
            <div class="mouth"></div>
        </div>
    </div>
    <div>
        <p class="Page_indisponible">${currentPage.pageTitle || currentPage.title}</p>
        <div data-sly-resource="${'error-text' @ resourceType='leforemhe/components/site/text'}"></div>
        <div>
            Retrouvez-nous sur les réseaux sociaux&nbsp;!<br/>
            <ul class="socialNetwork">
                <li><a href="https://www.facebook.com/leforemhe/" target="_blank"><img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/socialmedia/facebook-logo.png"></a></li>
                <li><a href="https://twitter.com/leforemhe" target="_blank"><img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/socialmedia/twitter-social-logotype.png"></a></li>
                <li><a href="https://www.youtube.com/user/Videosleforemhe/" target="_blank"><img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/socialmedia/youtube-logotype.png"></a></li>
                <li><a href="https://www.linkedin.com/company/le-forem" target="_blank"><img src="/etc.clientlibs/leforemhe/clientlibs/clientlib-site/resources/images/socialmedia/linkedin-logo.png"></a></li>
            </ul>
        </div>
    </div>
</div>