div#rechercheMetier {
  & > div,
  .title-container,
  .searchContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title-container {
    h1 {
      margin-bottom: 0;
    }

    h5 {
      font-size: 1.8rem;
    }
  }

  .searchContainer {
    width: 80%;
    margin-bottom: 5rem;

    .helpText {
      display: flex;
      align-items: center;
      align-self: flex-end;

      .icone {
        display: flex;
        width: 4.4rem;
        height: 4.4rem;
      }
    }

    .searchbox {
      width: 100%;
      padding: 1rem;
      border-radius: 1.4rem;
      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fcf9f4 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 3px #00000029;

      input {
        width: 100%;
        height: 6rem;

        padding: 1.5rem;
        border-radius: 10px;
        font-style: italic;
        border: solid 0.1rem #dbc2a4;
        background: #ffffff 0% 0% no-repeat padding-box;
        &:focus,
        &:focus-visible {
          outline-width: 0;
        }
      }

      .desktopSearchBtn {
        margin: 0;
        width: fit-content;
        display: flex;
        justify-content: end;
        button {
          width: 6rem;
          height: 6rem;

          display: flex;
          justify-content: center;
        }
      }
    }

    .searchSuggestions {
      display: none;
      width: 95%;
      background-color: white;
      padding: 1rem;
      border-radius: 15px;
      border: solid 0.05rem #dfcab0;
    }
  }

  input:focus + .searchSuggestions,
  input:focus-visible + .searchSuggestions {
    display: block;

    div.chips.chips-secondary {
      display: inline-flex;
    }
  }

  div.aem.mobileSearchBtn {
    display: none;
  }
}

@media screen and (max-width: $breakpointMobile) {
  div#rechercheMetier {
    .title-container {
      h1 {
        display: none;
      }

      h5 {
        text-align: center;
        font-size: 1.8rem;
      }
    }

    .searchContainer {
      margin-bottom: 1rem;

      input {
        border: solid 0.05rem #dfcab0;

        &:focus,
        &:focus-visible {
          outline-width: 0;
        }
      }
    }

    .aem {
      width: 100%;
      margin-top: 1.5rem;

      button,
      .icone {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button {
        color: #363d4a;
        font-weight: 550;
        width: 80%;
      }
    }
  }
}
